<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css">

      <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
      <link rel="stylesheet" href="/static/css/styles.css">

      <title>main</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <!-- header.html -->

      {% include 'header.html' %}

      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
            <div class="home__container container grid">
               <img src="/static/img/9098108.png" alt="image" class="home__img">

               <div class="home__data">
                  <h1 class="home__title">
                     Analyzed  <br>
                     <span>Surveillance</span><br>
                     Market<br>
                  </h1>

                  <p class="home__description">
                    I will focus on the data available regarding all the survelliance products, and more in in-depth what's their aim. 
                    Surveillance Industry Index (SII) was an online database of surveillance companies.Which lists 500 companies, and all the details regarding which type of surveillance technology they market.
                    
                  </p>

                  <div class="home__buttons">
                     <a href="{{ url_for('about') }}" class="button">
                        <span>
                           <i class="ri-arrow-right-line"></i>
                        </span>
   
                        PRODUCTS
                     </a>
   
                     <a href="https://privacyinternational.org/blog/1214/surveillance-industry-index-introduction" class="button__link">MORE DETAILS</a>
                  </div>
               </div>
            </div>
         </section>
        

         <!--==================== CONTACT ====================-->
         
      </main>

      <!--==================== FOOTER ====================-->
      <!-- <footer class="footer">
         <div class="footer__container container grid">
            <div>
               <a href="#" class="footer__logo">
                  <i class="ri-cactus-line"></i> Spymarket
               </a>

               <p class="footer__description">Discover all the Spytools <br> from 500 different companies.</p>
            </div>

            <div class="footer__content grid">
               <div>
                  <h3 class="footer__title">Details</h3>

                  <ul class="footer__links">
                     <li>
                        <a href="#" class="footer__link">About Us</a>
                     </li>
                     
                     <li>
                        <a href="#" class="footer__link">Products</a>
                     </li>
                     
                     <li>
                        <a href="#" class="footer__link">Features</a>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">INFORMATION</h3>

                  <ul class="footer__links">
                     <li>
                        <a href="#" class="footer__link">Blogs & News</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Contacts Us</a>
                     </li>
                     
                     <li>
                        <a href="#" class="footer__link">FAQs</a>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">SOCIAL MEDIA</h3>

                  <div class="footer__social">
                     <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-circle-fill"></i>
                     </a>

                     <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-fill"></i>
                     </a>
                     
                     <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-x-line"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <span class="footer__copy">
            &#169; Copyright by Federico Santi
         </span>
      </footer> -->

      {% include 'footer.html' %}

      <!--========== SCROLL UP ==========-->
      <a href="#" class="scrollup" id="scroll-up">
         <i class="ri-arrow-up-line"></i>
      </a>

      <!--=============== SCROLLREVEAL ===============-->
      <script src="/static/js/scrollreveal.min.js"></script>
      <!--=============== MAIN JS ===============-->
      <script src="/static/js/main.js"></script>
   </body>
</html>