<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css">

   <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
   <link rel="stylesheet" href="/static/css/styles.css">

   <title>Products</title>
</head>
<body>
   <!--==================== HEADER ====================-->
   <!-- header.html -->

   {% include 'header.html' %}

   <!--==================== MAIN ====================-->
   <main class="main">
    <section class="shop section" id="shop">
        <h2 class="section__title">
           Product Listing
        </h2>

        <div class="shop__container container grid">
           <article class="shop__card">
              <img src="/static/img/finintrusion-kit.jpg" alt="image" class="shop__img">

              <h3 class="shop__title">Finintrusion <br> Kit</h3>
              <span class="shop__price"></span>

              <button class="shop__button">
                <i class="ri-spy-fill"></i>
              </button>
           </article>

           <article class="shop__card">
            <img src="/static/img/finintrusion-kit.jpg" alt="image" class="shop__img">

            <h3 class="shop__title">Lorem Ipsum <br> Dolor</h3>
            <span class="shop__price"></span>

            <button class="shop__button">
              <i class="ri-spy-fill"></i>
            </button>
         </article>

         <article class="shop__card">
            <img src="/static/img/finintrusion-kit.jpg" alt="image" class="shop__img">

            <h3 class="shop__title">Lorem Ipsum <br> Dolor</h3>
            <span class="shop__price"></span>

            <button class="shop__button">
              <i class="ri-spy-fill"></i>
            </button>
         </article>

         <article class="shop__card">
            <img src="/static/img/finintrusion-kit.jpg" alt="image" class="shop__img">

            <h3 class="shop__title">Lorem Ipsum <br> Dolor</h3>
            <span class="shop__price"></span>

            <button class="shop__button">
              <i class="ri-spy-fill"></i>
            </button>
         </article>

         <article class="shop__card">
            <img src="/static/img/finintrusion-kit.jpg" alt="image" class="shop__img">

            <h3 class="shop__title">Lorem Ipsum <br> Dolor</h3>
            <span class="shop__price"></span>

            <button class="shop__button">
              <i class="ri-spy-fill"></i>
            </button>
         </article>

         <article class="shop__card">
            <img src="/static/img/finintrusion-kit.jpg" alt="image" class="shop__img">

            <h3 class="shop__title">Lorem Ipsum <br> Dolor</h3>
            <span class="shop__price"></span>

            <button class="shop__button">
              <i class="ri-spy-fill"></i>
            </button>
         </article>
        </div>
     </section>
      

   </main>

   <!--==================== FOOTER ====================-->
   

   {% include 'footer.html' %}

   <!--========== SCROLL UP ==========-->
   <a href="#" class="scrollup" id="scroll-up">
      <i class="ri-arrow-up-line"></i>
   </a>

   <!--=============== SCROLLREVEAL ===============-->
   <script src="/static/js/scrollreveal.min.js"></script>
   <!--=============== MAIN JS ===============-->
   <script src="/static/js/main.js"></script>
</body>
</html>
